{% extends 'base.html' %}
{% block contenu %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">A props de ce projet</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Ceci est un projet de de developpement un site Web Dynamique de partage de photos. Il a été demandé de
            créer un site de partage de photo entre plusieurs utilisateurs. Ce projet étaint dans le but de mettre en
            pratique tous les acquis au cours du module de Programmation en Python.
        </p>
    </div>
</div>
{% endblock %}