<div class="bg-dark fixed-bottom pt-auto px-5">
    <footer class="footer d-flex mt-auto justify-content-between py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-center text-muted">Shadow-Photo &copy; 2021, Inc. Tous droits réservés ®.</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#twitter"/>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#instagram"/>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#facebook"/>
                    </svg>
                </a>
            </li>
        </ul>
    </footer>
</div>
